$namespace: 'toxic' !default;
$block-sel: '-' !default;
$element-sel: '__' !default;
$mod-sel: '--' !default;
/* BEM .block__element--modifier */

// block
@mixin block($block) {
  $BlockName: #{$namespace + $block-sel + $block};
  .#{$BlockName} {
    @content; /* 相当于占位符 */
  }
}
// element
@mixin ele($element) {
  /* 需要获取到父级的类名 */
  $selector: &;
  $ElementName: #{$selector + $element-sel + $element};
  /* 在使用BEM规则的情况没有必要再进行SCSS的嵌套 */
  @at-root { /* at-root可以跳出SCSS的嵌套 */
    #{$ElementName} { /* 不需要再加. 因为$selector已经包含了 */
      @content;
    }
  }
}
// modified
@mixin modify($modifier) {
  /* 需要获取到父级的类名 */
  $selector: &;
  $ModifierName: #{$selector + $mod-sel + $modifier};
  /* 在使用BEM规则的情况没有必要再进行SCSS的嵌套 */
  @at-root { /* at-root可以跳出SCSS的嵌套 */
    #{$ModifierName} {
      @content;
    }
  }
}


// BFC
@mixin bfc {
  height: 100%;
  overflow: hidden;
}

// 滚动条样式
@mixin scroll {
  @media (prefers-color-scheme: light) {
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.4);
    }
    &::-webkit-scrollbar-track {
      border-radius: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
